RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^((?!public/).*)$ next/public/$1 [L,NC]
RewriteRule ^((?!public/).*)$ next/public/$1?id=$2[L,NC]




